.aky_acf_style-selector {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}
.aky_acf_style-selector .item-wrapper {
  /*width: 100%;*/
  height: 150px;
  border-radius: 15px;
  transition: 0.2s;
  cursor: pointer;
  padding: 15px;
  border: 1px solid #d9d9d9;
}
.aky_acf_style-selector .item-wrapper:hover {
  background-color: #d9d9d9;
}
.aky_acf_style-selector .item-wrapper.selected {
  border: 2px solid #3545e6;
}
.aky_acf_style-selector .item-wrapper .image-wrapper {
  height: 80%;
  width: 100%;
  margin-top: 15px;
}
.aky_acf_style-selector .item-wrapper .image-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.aky_acf_style-selector input.hidden {
  visibility: hidden;
}
